.GoBackBtn{
  margin: 2rem;
}
h3 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  span{
    font-style: italic;
  }
}

.ImageContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60%;
  .Image{
    margin: 1rem;
    flex: 1 1 30%;
    border-radius: 10px;
    overflow: hidden;
    img{
      height: 100%;
    }
    @media (max-width: 400px) {
      flex: 1 1 100%;
      img{
        width: 100%;
        height: unset;}
    }
}}
  
