.Home {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}
.bgImage {
  display: flex;
  justify-content: center;
  height: 100vh;
  filter: brightness(0.8);
  overflow: hidden;
  img {
    height: 100%;
  }
}
