@import "../../styles/colorset";

.Home {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}
.header {
  position: absolute;
  top: 25%;
  width: 100%;
  z-index: 100;
  color: $textPrimary;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  h1 {
    font-size: 3rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}
.bgImage {
  display: flex;
  justify-content: center;
  height: 100vh;
  filter: brightness(0.8);
  overflow: hidden;
  img {
    height: 100%;
  }
}
