@import "../styles/colorset";

.Footer {
  height: 40vh;
  border-top: 2px solid gray;
  background-color: $iconPrimary;
  h4 {
    margin: 1rem;
    font-size: 1.25rem;
  }
  p {
    margin: 0.5rem 0 0.5rem 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    span {
      font-weight: 300;
    }
  }
  .location {
    margin-bottom: 1rem;
    p {
      margin: 0 1rem;
    }
  }
  @media (min-width: 1000px) {
    h4 {
      font-size: 1.7rem;
    }
    p {
      line-height: 1.5rem;
      font-size: 1.3rem;
    }
    .location {
      p {
        line-height: 1.5rem;
      }
    }
  }
}
