@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Poiret+One&family=Quicksand:wght@300;400&display=swap");

/* ********* from google fonts ************
font-family: 'Poiret One', cursive; (regular 400)
font-family: 'Open Sans Condensed', sans-serif; (light 300)
font-family: 'Quicksand', sans-serif; (light 300 and regular 400) */

.App {
  text-align: center;
}
